/* Text styles */
.xr_s0 {font-family:Tahoma, sans-serif;font-weight:normal;font-style:normal;font-size:10px;text-decoration:none;color:#FFFFFF;letter-spacing:0.0em;}
.xr_s1 {font-family:Georgia;font-weight:bold;font-style:italic;font-size:22px;text-decoration:none;color:#0002BF;letter-spacing:0.0em;}
.xr_s2 {font-family:Georgia;font-weight:bold;font-style:italic;font-size:22px;text-decoration:none;color:#FFFC00;letter-spacing:0.0em;}
.xr_s3 {font-family:Georgia;font-weight:bold;font-style:italic;font-size:22px;text-decoration:none;color:#7F007E;letter-spacing:0.0em;}
.xr_s4 {font-family:Georgia;font-weight:bold;font-style:italic;font-size:22px;text-decoration:none;color:#00017F;letter-spacing:0.0em;}
.xr_s5 {font-family:Arial;font-weight:normal;font-style:normal;font-size:19px;text-decoration:none;color:#BF00BD;letter-spacing:0.0em;}
.xr_s6 {font-family:Arial;font-weight:bold;font-style:normal;font-size:19px;text-decoration:none;color:#BF00BD;letter-spacing:0.0em;}
.xr_s7 {font-family:French Script MT;font-weight:normal;font-style:normal;font-size:32px;text-decoration:none;color:#00017F;letter-spacing:0.0em;}
.xr_s8 {font-family:Comic Sans MS;font-weight:bold;font-style:normal;font-size:32px;text-decoration:none;color:#00017F;letter-spacing:0.0em;}
